{% extends "base.html" %}

{% block lab %}РГЗ{% endblock %}

{% block main %}
<h1>Список объявлений</h1>
<div>
    <table>
        <thead>
            <tr>
                <th>Имя пользователя</th>
                <th>Почта</th>
                <th>Тема объявления</th>
                <th>Текст объявления</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
            <tr>
                <td>{{ article.username }}</td>
                <td>{{ article.mail }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.article_text }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}