{% extends "base.html" %}

{% block main %}
<h1><div style="text-align: center;">Доска объявлений</div></h1>
<h2><div style="text-align: center;">Добро пожаловать, {{ username }}!</div></h2>
    <nav style="text-align: center;">    
        <a href="/art" style="padding: 5px 20px;">Список объявлений</a>
        <a href="/create" style="padding: 5px 20px;">Создать объявление</a>
        <a href="/my" style="padding: 5px 20px;">Мои объявления</a>
        <a href="/login" style="border: 4px solid rgb(66, 255, 186); padding: 5px 20px; border-radius: 5px;">Вход</a>
        <a href="/logout" style="border: 4px solid rgb(66, 255, 186); padding: 5px 20px; border-radius: 5px;">Выход</a>
        <span style="padding: 5px 20px;">{{username}}</span> 
    </nav>
    </div>
{% endblock %}